<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>本文:</strong>
  <%= @todo.body %>
</p>
<%= javascript_tag nonce: true do %>
  alert("Hello Wolrd");
<% end %>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
